<section class="navbar-area navbar-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="javascript:void(0)">
            <img src="assets/logo.png" alt="Logo" width="100px" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarThree"
            aria-controls="navbarThree"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse sub-menu-bar" id="navbarThree">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="page-scroll active"
                  data-bs-toggle="collapse"
                  data-bs-target="#sub-nav5"
                  aria-controls="sub-nav5"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  href="javascript:void(0)"
                  >About
                  <div class="sub-nav-toggler">
                    <span><i class="lni lni-chevron-down"></i></span>
                  </div>
                </a>

                <ul class="sub-menu collapse" id="sub-nav5">
                  <li><a href="javascript:void(0)">who we are</a></li>
                  <li><a href="javascript:void(0)">our vision</a></li>
                  <li><a href="javascript:void(0)">our team</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)">courses</a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)">links</a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)">news</a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)">contact</a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)">FAQ</a>
              </li>
            </ul>
          </div>

          <div class="navbar-social d-none d-sm-inline-block">
            <ul>
              <li>
                <a href="javascript:void(0)"
                  ><i class="lni lni-twitter-original"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="lni lni-facebook-filled"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="lni lni-instagram-original"></i
                ></a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- navbar -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
