<!--====== TEAM STYLE TWO START ======-->

<section class="team-area">
  <!--======  Start Section Title Seven ======-->

  <div class="section-title-seven">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title align-center">
            <span> Meet our Creative Team </span>
            <h2 class="fw-bold">Our Awesome Team</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>

  <!--====== End Section Title Seven ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-team text-center h-100 team-style-two">
          <div class="team-image">
            <img src="assets/images/staff/Shideh Kish.jpg" alt="Team" />
          </div>
          <div class="team-content">
            <h4 class="name">Shideh Kish</h4>
            <span class="sub-title">Communication Officer</span>
            <ul class="social">
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-twitter-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- single team -->
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-team text-center h-100 team-style-two">
          <div class="team-image">
            <img src="assets/images/staff/Mattia Edallo.jpg" alt="Team" />
          </div>
          <div class="team-content">
            <h4 class="name">Mattia Edallo</h4>
            <span class="sub-title">Founder and Director</span>
            <ul class="social">
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-twitter-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- single team -->
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-team text-center h-100 team-style-two">
          <div class="team-image">
            <img src="assets/images/staff/Doaa Ahmed.jpg" alt="Team" />
          </div>
          <div class="team-content">
            <h4 class="name">Doaa Ahmed</h4>
            <span class="sub-title">Adminstrator Coordinator</span>
            <ul class="social">
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-twitter-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- single team -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team text-center h-100 team-style-two">
          <div class="team-image">
            <img src="assets/images/staff/Ilaria Molineri.jpg" alt="Team" />
          </div>
          <div class="team-content">
            <h4 class="name">Ilaria Molineri</h4>
            <span class="sub-title"
              >External Relations and Project Consultant</span
            >
            <ul class="social">
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-twitter-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- single team -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team text-center h-100 team-style-two">
          <div class="team-image">
            <img src="assets/images/staff/Altayb Abbas.jpg" alt="Team" />
          </div>
          <div class="team-content">
            <h4 class="name">Altayb Abbas</h4>
            <span class="sub-title">Italian Language Lecturer</span>
            <ul class="social">
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-twitter-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- single team -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team text-center h-100 team-style-two">
          <div class="team-image">
            <img src="assets/images/staff/Linda Giuntini.jpg" alt="Team" />
          </div>
          <div class="team-content">
            <h4 class="name">Linda Giuntini</h4>
            <span class="sub-title">Italian Language Lecturer</span>
            <ul class="social">
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-twitter-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- single team -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== TEAM STYLE TWO ENDS ======-->
