<!--======  Start Section Title Six ======-->

<div class="section-title-six">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3>What we offer?</h3>
          <h2 class="fw-bold">What coursess we provide</h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>

<!--======  End Section Title Six ======-->
<!--====== tabs PART START ======-->

<section class="tabs-area pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tabs mt-5">
          <h4 class="tabs-title mb-30">Online Courses</h4>
          <div class="single-tabs tabs-one">
            <ul class="nav nav-justified" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="active"
                  id="tab-one-one-tab"
                  data-bs-toggle="tab"
                  href="#tab-one-one"
                  role="tab"
                  aria-controls="tab-one-one"
                  aria-selected="true"
                  >A1 Breakthrough
                </a>
              </li>
              <li class="nav-item">
                <a
                  id="tab-one-two-tab"
                  data-bs-toggle="tab"
                  href="#tab-one-two"
                  role="tab"
                  aria-controls="tab-one-two"
                  aria-selected="false"
                  >A2 Waystage
                </a>
              </li>
              <li class="nav-item">
                <a
                  id="tab-one-three-tab"
                  data-bs-toggle="tab"
                  href="#tab-one-three"
                  role="tab"
                  aria-controls="tab-one-three"
                  aria-selected="false"
                  >B1 Threshold
                </a>
              </li>
              <li class="nav-item">
                <a
                  id="tab-one-four-tab"
                  data-bs-toggle="tab"
                  href="#tab-one-four"
                  role="tab"
                  aria-controls="tab-one-four"
                  aria-selected="false"
                  >B2 Vantage
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="tab-one-one"
                role="tabpanel"
                aria-labelledby="tab-one-one-tab"
              >
                <div class="tab-text">
                  <p class="text">
                    Learners get in touch with and acquire the main basic
                    structures and functions for basic communication aimed at
                    the satisfaction of the needs of a concrete type. <br />
                    <br />
                    Following the CIC syllabus, the A1 level comprises 2 courses
                    of 30 hours each (A1.1+A1.2) for a total of 60 hours. <br />
                    <br />
                    CIC courses are open for registration according to yearly
                    planning, therefore different courses may be open at
                    different registration sessions.
                  </p>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tab-one-two"
                role="tabpanel"
                aria-labelledby="tab-one-two-tab"
              >
                <div class="tab-text">
                  <p class="text">
                    Learners consolidate basic structures of the language for
                    communication, dealing with routine tasks requiring a simple
                    and direct exchange of information. They can produce and
                    understand short descriptive texts on topics such as family,
                    work, and leisure. <br />
                    <br />
                    Following the CIC syllabus, the A2 level comprises 2 courses
                    of 30 hours each (A2.1+A2.2) for a total of 60 hours. <br />
                    <br />
                    CIC courses are open for registration according to yearly
                    planning, therefore different courses may be open at
                    different registration sessions.
                  </p>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tab-one-three"
                role="tabpanel"
                aria-labelledby="tab-one-three-tab"
              >
                <div class="tab-text">
                  <p class="text">
                    Learners can interact and deal with situations most likely
                    to arise while traveling in Italy (ask for information, ask
                    for help, relate a problem and find solutions, talk about
                    health, make proposals, etc). They can produce and
                    understand descriptive and narrative texts and appreciate
                    distinctive cultural elements. <br />
                    <br />
                    Following the CIC syllabus, the B1 level comprises 2 courses
                    of 36 hours each (B1.1+B1.2) for a total of 72 hours.
                    <br /><br />
                    CIC courses are open for registration according to yearly
                    planning, therefore different courses may be open at
                    different registration sessions.
                  </p>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tab-one-four"
                role="tabpanel"
                aria-labelledby="tab-one-four-tab"
              >
                <div class="tab-text">
                  <p class="text">
                    Learners can understand and produce medium-length
                    argumentative and narrative texts, and will also expand
                    their lexical knowledge with elements related to specific
                    areas (e.g. art, literature, cinema, theatre). The level
                    aims to improve the knowledge and practice of the Italian
                    language. <br /><br />
                    Following the CIC syllabus, the B2 level comprises 2 courses
                    of 36 hours each (B2.1+B2.2) for a total of 72 hours.
                    <br /><br />
                    CIC courses are open for registration according to yearly
                    planning, therefore different courses may be open at
                    different registration sessions.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- tabs one -->
        </div>
      </div>

      <div class="col-lg-6">
        <div class="tabs mt-5">
          <h4 class="tabs-title mb-30">Tab 2</h4>
          <div class="single-tabs tabs-two">
            <ul class="nav nav-justified" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="active"
                  id="tab-two-one-tab"
                  data-bs-toggle="tab"
                  href="#tab-two-one"
                  role="tab"
                  aria-controls="tab-two-one"
                  aria-selected="true"
                  >TAB 01</a
                >
              </li>
              <li class="nav-item">
                <a
                  id="tab-two-two-tab"
                  data-bs-toggle="tab"
                  href="#tab-two-two"
                  role="tab"
                  aria-controls="tab-two-two"
                  aria-selected="false"
                  >TAB 02</a
                >
              </li>
              <li class="nav-item">
                <a
                  id="tab-two-three-tab"
                  data-bs-toggle="tab"
                  href="#tab-two-three"
                  role="tab"
                  aria-controls="tab-two-three"
                  aria-selected="false"
                  >TAB 03</a
                >
              </li>
              <li class="nav-item">
                <a
                  id="tab-two-four-tab"
                  data-bs-toggle="tab"
                  href="#tab-two-four"
                  role="tab"
                  aria-controls="tab-two-four"
                  aria-selected="false"
                  >TAB 04</a
                >
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="tab-two-one"
                role="tabpanel"
                aria-labelledby="tab-two-one-tab"
              >
                <div class="tab-text">
                  <p class="text">
                    Raw denim you probably haven’t heard of them jean shorts
                    Austin. Nesciunt tofu stumptown aliqua, retro synth master
                    cleanse. Mustache cliche tempor, williamsburg carles vegan
                    helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                    synth. <br /><br />
                    Cosby sweater eu banh mi, qui irure terry richardson ex
                    squid. Aliquip placeat salvia cillum iphone. Seitan aliquip
                    quis cardigan american apparel, butcher voluptate nisi qui.
                  </p>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tab-two-two"
                role="tabpanel"
                aria-labelledby="tab-two-two-tab"
              >
                <div class="tab-text">
                  <p class="text">
                    Raw denim you probably haven’t heard of them jean shorts
                    Austin. Nesciunt tofu stumptown aliqua, retro synth master
                    cleanse. Mustache cliche tempor, williamsburg carles vegan
                    helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                    synth. <br /><br />
                    Cosby sweater eu banh mi, qui irure terry richardson ex
                    squid. Aliquip placeat salvia cillum iphone. Seitan aliquip
                    quis cardigan american apparel, butcher voluptate nisi qui.
                  </p>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tab-two-three"
                role="tabpanel"
                aria-labelledby="tab-two-three-tab"
              >
                <div class="tab-text">
                  <p class="text">
                    Raw denim you probably haven’t heard of them jean shorts
                    Austin. Nesciunt tofu stumptown aliqua, retro synth master
                    cleanse. Mustache cliche tempor, williamsburg carles vegan
                    helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                    synth. <br /><br />
                    Cosby sweater eu banh mi, qui irure terry richardson ex
                    squid. Aliquip placeat salvia cillum iphone. Seitan aliquip
                    quis cardigan american apparel, butcher voluptate nisi qui.
                  </p>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tab-two-four"
                role="tabpanel"
                aria-labelledby="tab-two-four-tab"
              >
                <div class="tab-text">
                  <p class="text">
                    Raw denim you probably haven’t heard of them jean shorts
                    Austin. Nesciunt tofu stumptown aliqua, retro synth master
                    cleanse. Mustache cliche tempor, williamsburg carles vegan
                    helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                    synth. <br /><br />
                    Cosby sweater eu banh mi, qui irure terry richardson ex
                    squid. Aliquip placeat salvia cillum iphone. Seitan aliquip
                    quis cardigan american apparel, butcher voluptate nisi qui.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- tabs one -->
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== tabs PART ENDS ======-->
<!--====== CARD PART START ======-->

<section class="card-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="single-card card-style-two">
          <div class="row no-gutters align-items-center">
            <div class="col-sm-6">
              <div class="card-image">
                <img src="../assets/images/Intensive-course.png" alt="Image" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card-content">
                <h4 class="card-title">
                  <a href="javascript:void(0)"
                    >Online Italian Intensive A1 course
                  </a>
                </h4>
                <p class="text">
                  <b>The enrolment is open from 29.05.2024 to 20.06.2024</b>
                </p>
                <p class="text">
                  For more information about the course and how to enrol please
                  check:
                </p>

                <div class="card-btn rounded-buttons">
                  <a
                    class="btn primary-btn rounded-full"
                    href="javascript:void(0)"
                  >
                    Intensive A1, June 2024
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- single-card -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== CARD PART ENDS ======-->

<!--====== CARD PART START ======-->

<section class="card-area pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-card card-style-one">
          <div class="card-image">
            <img src="../assets/images/Intensive-course.png" alt="Image" />
          </div>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:void(0)">A2 Waystage </a>
            </h4>
            <p class="text">
              Short description for the ones who look for something new
            </p>
          </div>
        </div>
        <!-- single-card -->
      </div>
      <!-- col -->
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-card card-style-one">
          <div class="card-image">
            <img src="../assets/images/Intensive-course.png" alt="Image" />
          </div>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:void(0)">B1 Threshold</a>
            </h4>
            <p class="text">
              Short description for the ones who look for something new
            </p>
          </div>
        </div>
        <!-- single-card -->
      </div>
      <!-- col -->
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-card card-style-one">
          <div class="card-image">
            <img src="../assets/images/Intensive-course.png" alt="Image" />
          </div>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:void(0)">B2 Vantage</a>
            </h4>
            <p class="text">
              Short description for the ones who look for something new
            </p>
          </div>
        </div>
        <!-- single-card -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== CARD PART ENDS ======-->
