/* ===== Buttons Css ===== */
.slider-area.slider-two .slider-content .slider-btn li .primary-btn {
  background: var(--primary);
  color: var(--white);
  border-color: var(--white);
  box-shadow: var(--shadow-2);
}
.slider-area.slider-two .slider-content .slider-btn li .active.primary-btn,
.slider-area.slider-two .slider-content .slider-btn li .primary-btn:hover,
.slider-area.slider-two .slider-content .slider-btn li .primary-btn:focus {
  background: var(--primary-dark);
  color: var(--white);
  box-shadow: var(--shadow-4);
}
.slider-area.slider-two .slider-content .slider-btn li .deactive.primary-btn {
  background: var(--gray-4);
  color: var(--dark-3);
  pointer-events: none;
}

.slider-area.slider-two .slider-content .slider-btn li .primary-btn-outline {
  border-color: var(--primary);
  color: var(--primary);
}
.slider-area.slider-two
  .slider-content
  .slider-btn
  li
  .active.primary-btn-outline,
.slider-area.slider-two
  .slider-content
  .slider-btn
  li
  .primary-btn-outline:hover,
.slider-area.slider-two
  .slider-content
  .slider-btn
  li
  .primary-btn-outline:focus {
  background: var(--primary-dark);
  color: var(--white);
}
.slider-area.slider-two
  .slider-content
  .slider-btn
  li
  .deactive.primary-btn-outline {
  color: var(--dark-3);
  border-color: var(--gray-4);
  pointer-events: none;
}

/*===== SLIDER TWO =====*/
.slider-area.slider-two {
  background-color: var(--primary);
  position: relative;
}
.slider-area.slider-two .slider-content {
  padding-top: 232px;
  padding-bottom: 232px;
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .slider-area.slider-two .slider-content {
    padding-top: 132px;
    padding-bottom: 132px;
  }
}
.slider-area.slider-two .slider-content .slider-title {
  font-size: 44px;
  line-height: 55px;
  color: var(--white);
  padding: 0 5px;
}
@media (max-width: 767px) {
  .slider-area.slider-two .slider-content .slider-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.slider-area.slider-two .slider-content .text {
  color: var(--white);
  margin-top: 16px;
}
.slider-area.slider-two .slider-content .slider-btn {
  margin-top: 14px;
}
.slider-area.slider-two .slider-content .slider-btn li {
  display: inline-block;
  margin: 10px 8px 0;
}
@media (max-width: 767px) {
  .slider-area.slider-two .slider-content .slider-btn li {
    margin: 10px 3px 0;
  }
}
.slider-area.slider-two .carousel {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area.slider-two .carousel {
    position: relative;
    height: 700px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .slider-area.slider-two .carousel {
    position: relative;
    height: 400px;
    width: 100%;
  }
}
.slider-area.slider-two .carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
.slider-area.slider-two .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 95%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.slider-area.slider-two .carousel .carousel-control-prev,
.slider-area.slider-two .carousel .carousel-control-next {
  top: 30%;
  width: auto;
  height: auto;
  font-size: 32px;
  color: var(--white);
  bottom: auto;
  left: 8px;
  right: auto;
  opacity: 1;
}
@media (max-width: 767px) {
  .slider-area.slider-two .carousel .carousel-control-prev,
  .slider-area.slider-two .carousel .carousel-control-next {
    font-size: 24px;
  }
}
.slider-area.slider-two .carousel .carousel-control-next {
  top: auto;
  bottom: 30%;
}
.slider-area.slider-two .carousel .carousel-indicators {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  bottom: auto;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 767px) {
  .slider-area.slider-two .carousel .carousel-indicators {
    left: 16px;
  }
}
.slider-area.slider-two .carousel .carousel-indicators li {
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border: 0;
  margin: 5px 0;
}
.slider-area.slider-two .carousel .carousel-indicators li.active {
  background-color: var(--white);
  height: 16px;
  border-radius: 5px;
}

/*===========================
  about-01 css
===========================*/
.about-one {
  background-color: var(--light-3);
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-one .about-title {
  margin-bottom: 20px;
}
.about-one .single-about-items {
  margin-top: 30px;
  padding: 35px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow-2);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.about-one .single-about-items:hover {
  box-shadow: var(--shadow-4);
}
.about-one .single-about-items::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 80px;
  width: 50px;
  border: 1px solid var(--primary);
  border-radius: 0 0 0 30px;
  right: -1px;
  top: -1px;
  opacity: 0.1;
}
.about-one .single-about-items::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  border: 1px solid var(--primary);
  border-radius: 50px;
  right: 60px;
  top: 10px;
  opacity: 0.1;
}
.about-one .single-about-items .items-icon {
  width: 70px;
  height: 70px;
  line-height: 85px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--primary);
  box-shadow: var(--shadow-2);
}
.about-one .single-about-items .items-icon i {
  font-size: 32px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-one .single-about-items .items-icon {
    max-width: 90px;
  }
}
@media (max-width: 767px) {
  .about-one .single-about-items .items-icon {
    max-width: 80px;
  }
}
.about-one .single-about-items .items-content {
  margin-top: 32px;
}
@media only screen and (min-width: 1400px) {
  .about-one .single-about-items .items-content {
    padding-right: 45px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .about-one .single-about-items .items-content {
    padding-right: 35px;
  }
}
.about-one .single-about-items .items-content .items-title {
  color: var(--black);
  margin-bottom: 15px;
  font-weight: 600;
}
.about-one .single-about-items .items-content .text {
  color: var(--dark-3);
}

/*===========================
  about-05 css
===========================*/
.about-five {
  background-color: var(--white);
  padding-top: 120px;
  padding-bottom: 90px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-five {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .about-five {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
.about-five-content {
  padding-left: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-five-content {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .about-five-content {
    padding-left: 0;
  }
}
.about-five-content .small-title {
  position: relative;
  padding-left: 30px;
}
.about-five-content .small-title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  background-color: var(--primary);
  height: 2px;
  width: 20px;
  margin-top: -1px;
}
.about-five-content .main-title {
  margin-top: 20px;
}
.about-five-content .about-five-tab {
  margin-top: 40px;
}
.about-five-content .about-five-tab nav {
  border: none;
  background-color: var(--light-2);
  padding: 15px;
  border-radius: 5px;
}
.about-five-content .about-five-tab nav .nav-tabs {
  border: none;
}
.about-five-content .about-five-tab nav button {
  border: none;
  color: var(--dark-1);
  font-weight: 600;
  padding: 0;
  margin-right: 20px;
  position: relative;
  background-color: var(--white);
  padding: 10px 18px;
  border-radius: 4px;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .about-five-content .about-five-tab nav button {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .about-five-content .about-five-tab nav button:last-child {
    margin: 0;
  }
}
.about-five-content .about-five-tab nav button:hover {
  color: var(--primary);
}
.about-five-content .about-five-tab nav button.active {
  background-color: var(--primary);
  color: var(--white);
}
.about-five-content .about-five-tab nav button:last-child {
  margin-right: 0;
}
.about-five-content .about-five-tab .tab-content {
  border: none;
  padding-top: 30px;
}
.about-five-content .about-five-tab .tab-content p {
  margin-bottom: 20px;
}
.about-five-content .about-five-tab .tab-content p:last-child {
  margin: 0;
}

.about-image-five {
  padding-left: 60px;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-image-five {
    margin-bottom: 70px;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .about-image-five {
    margin-bottom: 60px;
    padding-left: 0;
  }
}
.about-image-five .shape {
  position: absolute;
  left: 30px;
  top: -30px;
  z-index: -1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-image-five .shape {
    left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-image-five::before {
    right: -15px;
    bottom: -15px;
  }
}
@media (max-width: 767px) {
  .about-image-five::before {
    display: none;
  }
}
.about-image-five img {
  width: 100%;
  z-index: 2;
}

/*===== VIDEO ONE =====*/
.video-one {
  background-color: var(--light-3);
  padding: 100px 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video-one {
    padding: 80px;
  }
}
@media (max-width: 767px) {
  .video-one {
    padding: 60px 0;
  }
}
.video-one .video-title h5 {
  font-weight: 600;
  color: var(--primary);
}
.video-one .video-title h2 {
  font-weight: 700;
  color: var(--black);
  margin-top: 10px;
}
.video-one .video-title .text-lg {
  margin-top: 24px;
  color: var(--dark-3);
}
.video-one .video-content {
  position: relative;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}
.video-one .video-content img {
  border-radius: 8px;
}
.video-one .video-content a {
  width: 88px;
  height: 88px;
  line-height: 88px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--white);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding-left: 3px;
}
@media (max-width: 767px) {
  .video-one .video-content a {
    width: 68px;
    height: 68px;
    line-height: 68px;
    font-size: 20px;
  }
}
.video-one .video-content a:hover {
  background-color: var(--white);
  color: var(--primary);
}

/* ===== Buttons Css ===== */
.call-action .inner-content .light-rounded-buttons .primary-btn-outline {
  border-color: var(--primary);
  color: var(--primary);
}
.call-action .inner-content .light-rounded-buttons .active.primary-btn-outline,
.call-action .inner-content .light-rounded-buttons .primary-btn-outline:hover,
.call-action .inner-content .light-rounded-buttons .primary-btn-outline:focus {
  background: var(--white);
  color: var(--primary);
  border-color: transparent;
}
.call-action
  .inner-content
  .light-rounded-buttons
  .deactive.primary-btn-outline {
  color: var(--dark-3);
  border-color: var(--gray-4);
  pointer-events: none;
}

/*===== call action four =====*/
.call-action {
  z-index: 2;
  padding: 100px 0;
  background: linear-gradient(45deg, var(--primary), var(--primary-dark));
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .call-action {
    padding: 80px;
  }
}
@media (max-width: 767px) {
  .call-action {
    padding: 60px 0;
  }
}
.call-action:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/overlay.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
}
.call-action .inner-content {
  text-align: center;
}
.call-action .inner-content h2 {
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--white);
}
.call-action .inner-content p {
  color: var(--white);
}
.call-action .inner-content .light-rounded-buttons {
  margin-top: 45px;
  display: block;
}
.call-action .inner-content .light-rounded-buttons .primary-btn-outline {
  border-color: var(--white);
  color: var(--white);
}

/*===========================
  Section Title Five CSS
===========================*/
.section-title-five {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-five {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .section-title-five {
    margin-bottom: 35px;
  }
}
.section-title-five h6 {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 8px 30px;
}
.section-title-five h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-five h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .section-title-five h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.section-title-five p {
  color: var(--dark-3);
}

.made-in-ayroui {
  position: fixed;
  left: 5px;
  bottom: 5px;
  z-index: 999;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.made-in-ayroui:hover {
  transform: translateY(-5px);
}

/*===== TESTIMONIAL STYLE ONE =====*/
.testimonial-one {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--light-2);
  /* Section Title Seven */
}
.testimonial-one .section-title-seven {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-one .section-title-seven {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .testimonial-one .section-title-seven {
    margin-bottom: 35px;
  }
}
.testimonial-one .section-title-seven span {
  text-transform: uppercase;
  color: var(--primary);
  display: inline-block;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
}
.testimonial-one .section-title-seven h5 {
  font-weight: 600;
  margin-bottom: 7px;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .testimonial-one .section-title-seven h5 {
    font-size: 0.8rem;
  }
}
.testimonial-one .section-title-seven h2 {
  margin-bottom: 18px;
  position: relative;
  padding-bottom: 15px;
}
.testimonial-one .section-title-seven h2::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  height: 3px;
  width: 50px;
  background-color: var(--primary);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-one .section-title-seven h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .testimonial-one .section-title-seven h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.testimonial-one .section-title-seven p {
  color: var(--dark-3);
}
.testimonial-one .testimonial-one-active {
  margin: 0;
}
.testimonial-one .testimonial-one-wrapper {
  position: relative;
}
.testimonial-one .testimonial-one-wrapper .tns-nav {
  position: absolute;
  z-index: 2;
  bottom: -40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-one .testimonial-one-wrapper .tns-nav button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary);
  opacity: 0.3;
  border: 0;
  margin: 0 3px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.testimonial-one .testimonial-one-wrapper .tns-nav button.tns-nav-active {
  opacity: 1;
}
.testimonial-one .single-testimonial {
  margin-top: 30px;
  padding: 30px;
  background-color: var(--white);
  border: 1px solid var(--gray-4);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.testimonial-one .single-testimonial::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0%;
  background-color: var(--primary);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.testimonial-one .single-testimonial:hover::before {
  width: 100%;
}
.testimonial-one .single-testimonial .testimonial-image {
  position: relative;
  display: inline-block;
}
.testimonial-one .single-testimonial .testimonial-image img {
  width: 120px;
  border-radius: 50%;
  display: inline-block;
}
.testimonial-one .single-testimonial .testimonial-image .quote-icon {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  font-size: 18px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.testimonial-one .single-testimonial .testimonial-content {
  padding-top: 30px;
}
.testimonial-one .single-testimonial .testimonial-content .text {
  color: var(--dark-3);
}
.testimonial-one .single-testimonial .testimonial-content .author-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  margin-top: 24px;
}
.testimonial-one .single-testimonial .testimonial-content .sub-title {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-3);
}

/*# sourceMappingURL=testimonial-01.css.map */

/*===== latest-news-area =====*/
.latest-news-area {
  background: var(--white);
  padding: 100px 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .latest-news-area {
    padding: 80px;
  }
}
@media (max-width: 767px) {
  .latest-news-area {
    padding: 60px 0;
  }
}

/* ===== Buttons Css ===== */
.blog-style-two .blog-content .primary-btn-outline {
  border-color: var(--primary);
  color: var(--primary);
}
.blog-style-two .blog-content .active.primary-btn-outline,
.blog-style-two .blog-content .primary-btn-outline:hover,
.blog-style-two .blog-content .primary-btn-outline:focus {
  background: var(--primary-dark);
  color: var(--white);
}
.blog-style-two .blog-content .deactive.primary-btn-outline {
  color: var(--dark-3);
  border-color: var(--gray-4);
  pointer-events: none;
}

/*===== BLOG STYLE TWO =====*/
.blog-style-two {
  margin-top: 50px;
  box-shadow: 0px 0px 30px var(--gray-4);
  border-radius: 8px;
  overflow: hidden;
}
.blog-style-two .blog-image img {
  width: 100%;
}
.blog-style-two .blog-image img:hover {
  width: 100%;
}
.blog-style-two .blog-content {
  padding: 35px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-style-two .blog-content {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .blog-style-two .blog-content {
    padding: 20px;
  }
}
.blog-style-two .blog-content .blog-title {
  display: block;
  margin-bottom: 8px;
}
.blog-style-two .blog-content .blog-title a {
  font-weight: 600;
  line-height: 30px;
  color: var(--black);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.blog-style-two .blog-content .blog-title a:hover {
  color: var(--primary);
}
.blog-style-two .blog-content span {
  font-size: 14px;
  line-height: 20px;
  color: var(--dark-3);
  margin-top: 8px;
  margin-right: 10px;
  display: inline-block;
}
.blog-style-two .blog-content .text {
  color: var(--dark-3);
  margin-top: 16px;
}
.blog-style-two .blog-content .primary-btn-outline {
  margin-top: 25px;
}

/*# sourceMappingURL=blog-02.css.map */

/*======================================
    Brand CSS
========================================*/
.brand-area {
  padding: 100px 0;
  background: var(--light-3);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brand-area {
    padding: 80px;
  }
}
@media (max-width: 767px) {
  .brand-area {
    padding: 60px 0;
  }
}
.brand-area .clients-logos {
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
.brand-area .clients-logos .single-image {
  display: inline-block;
  margin: 13px 10px;
  background-color: var(--white);
  line-height: 100px;
  padding: 8px 25px;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  border: 1px solid #eee;
}
.brand-area .clients-logos .single-image:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.096);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
.brand-area .clients-logos img {
  max-width: 140px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
