<!--====== SLIDER TWO PART START ======-->

<section class="slider-area slider-two">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="slider-content text-center">
          <h2 class="slider-title">Welcome to the Comboni Italian Center</h2>
          <p class="text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, look like readable English.
          </p>

          <ul class="slider-btn rounded-buttons">
            <li>
              <a class="btn primary-btn rounded-full" href="javascript:void(0)">
                ENROL NOW
              </a>
            </li>
          </ul>
        </div>
        <!-- slider-content -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->

  <div id="carouselTwo" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#carouselTwo"
        data-bs-slide-to="0"
        class="active"
      ></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="2"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="3"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="4"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="5"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="6"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="7"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="8"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="9"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="10"></li>
      <li data-bs-target="#carouselTwo" data-bs-slide-to="11"></li>
    </ol>
    <div class="carousel-inner">
      <div
        class="carousel-item bg_cover active"
        style="background-image: url(assets/images/home/1.jpeg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/2.jpeg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/4.jpg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/5.jpg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/6.jpg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/7.jpeg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/8.jpg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/9.jpg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/10.jpg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/11.jpeg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/12.jpg)"
      ></div>
      <div
        class="carousel-item bg_cover"
        style="background-image: url(assets/images/home/13.jpg)"
      ></div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselTwo"
      role="button"
      data-bs-slide="prev"
    >
      <i class="lni lni-arrow-up"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselTwo"
      role="button"
      data-bs-slide="next"
    >
      <i class="lni lni-arrow-down"></i>
    </a>
  </div>
</section>

<!--====== SLIDER TWO PART ENDS ======-->

<!--====== ABOUT ONE PART START ======-->

<section class="about-area about-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-title text-center">
          <h2 class="title fw-bold">Why Choose Us</h2>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-8">
        <div class="single-about-items">
          <div class="items-icon">
            <i class="lni lni-bullhorn"></i>
          </div>
          <div class="items-content">
            <h4 class="items-title">Accredited Certifications</h4>
            <p class="text">
              We offer courses for PLIDA and CELI certifications.
            </p>
          </div>
        </div>
        <!-- single about items -->
      </div>
      <div class="col-md-4 col-sm-8">
        <div class="single-about-items">
          <div class="items-icon">
            <i class="lni lni-investment"></i>
          </div>
          <div class="items-content">
            <h4 class="items-title">Experinced Instructors</h4>
            <p class="text">
              Learn from native speakers and experinced educators.
            </p>
          </div>
        </div>
        <!-- single about items -->
      </div>
      <div class="col-md-4 col-sm-8">
        <div class="single-about-items">
          <div class="items-icon">
            <i class="lni lni-handshake"></i>
          </div>
          <div class="items-content">
            <h4 class="items-title">Community and Family</h4>
            <p class="text">
              Join a vibrant community and enjoy cultural activities.
            </p>
          </div>
        </div>
        <!-- single about items -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== ABOUT ONE PART ENDS ======-->

<!--====== ABOUT FIVE PART START ======-->

<section class="about-area about-five">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="about-image-five">
          <svg
            class="shape"
            width="106"
            height="134"
            viewBox="0 0 106 134"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="1.66654" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="16.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="30.9998" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="74.6665" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="60.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="132" r="1.66667" fill="#DADADA" />
          </svg>
          <img src="assets/images/home/3.jpg" alt="about" />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="about-five-content">
          <h6 class="small-title text-lg">OUR STORY</h6>
          <h2 class="main-title fw-bold">
            Our team comes with the experience and knowledge
          </h2>
          <div class="about-five-tab">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button
                  class="nav-link active"
                  id="nav-who-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-who"
                  type="button"
                  role="tab"
                  aria-controls="nav-who"
                  aria-selected="true"
                >
                  Who We Are
                </button>
                <button
                  class="nav-link"
                  id="nav-vision-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-vision"
                  type="button"
                  role="tab"
                  aria-controls="nav-vision"
                  aria-selected="false"
                >
                  our Vision
                </button>
                <button
                  class="nav-link"
                  id="nav-history-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-history"
                  type="button"
                  role="tab"
                  aria-controls="nav-history"
                  aria-selected="false"
                >
                  our History
                </button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-who"
                role="tabpanel"
                aria-labelledby="nav-who-tab"
              >
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, look like readable English.
                </p>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have in some form, by injected
                  humour.
                </p>
              </div>
              <div
                class="tab-pane fade"
                id="nav-vision"
                role="tabpanel"
                aria-labelledby="nav-vision-tab"
              >
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, look like readable English.
                </p>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have in some form, by injected
                  humour.
                </p>
              </div>
              <div
                class="tab-pane fade"
                id="nav-history"
                role="tabpanel"
                aria-labelledby="nav-history-tab"
              >
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, look like readable English.
                </p>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have in some form, by injected
                  humour.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container -->
</section>

<!--====== VIDEO ONE PART START ======-->

<section class="video-area video-one">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="video-title text-center">
          <h5>Learn & Share</h5>
          <h2>CIC 8th Anniversary</h2>
          <p class="text-lg">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, look like readable English.
          </p>
        </div>
        <!-- video title -->
      </div>
    </div>
    <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="video-content text-center">
          <img src="assets/images/home/9.jpg" alt="Video" />
          <a
            class="video-popup glightbox"
            href="https://www.youtube.com/watch?v=dJHwX4DwNEk&t=1s"
          >
            <i class="lni lni-play"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== VIDEO ONE PART ENDS ======-->

<!-- Start Cta Area -->
<section id="call-action" class="call-action">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
        <div class="inner-content">
          <h2>Ready to sharpen your Italian Language skills ?</h2>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, look like readable English.
          </p>
          <div class="light-rounded-buttons">
            <a href="javascript:void(0)" class="btn primary-btn-outline"
              >Get Started</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Area -->

<!--====== TESTIMONIAL ONE PART START ======-->

<section class="testimonial-one">
  <!--======  Start Section Title Seven ======-->
  <div class="section-title-seven">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title align-center">
            <span> Testimonial </span>
            <h2 class="fw-bold">What Our Students Says</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <!--====== End Section Title Seven ======-->
  <div class="container">
    <div class="testimonial-one-wrapper">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12">
          <div class="row testimonial-one-active">
            <div class="col-lg-4">
              <div class="single-testimonial text-center">
                <div class="testimonial-image">
                  <img
                    src="assets/images/staff/Altayb Abbas.jpg"
                    alt="Author"
                  />
                  <div class="quote-icon">
                    <i class="lni lni-quotation"></i>
                  </div>
                </div>
                <div class="testimonial-content">
                  <p class="text">
                    Stop wasting time and money designing and managing a website
                    that doesn't get results. Happiness lorem guaranteed!
                  </p>
                  <h6 class="author-name">Isabela Moreira</h6>
                  <span class="sub-title">CEO, GrayGrids</span>
                </div>
              </div>
              <!-- single testimonial -->
            </div>
            <div class="col-lg-4">
              <div class="single-testimonial text-center">
                <div class="testimonial-image">
                  <img
                    src="assets/images/staff/Altayb Abbas.jpg"
                    alt="Author"
                  />
                  <div class="quote-icon">
                    <i class="lni lni-quotation"></i>
                  </div>
                </div>
                <div class="testimonial-content">
                  <p class="text">
                    Stop wasting time and money designing and managing a website
                    that doesn't get results. Happiness lorem guaranteed!
                  </p>
                  <h6 class="author-name">Fajar Siddiq</h6>
                  <span class="sub-title">Founder, MakerFlix</span>
                </div>
              </div>
              <!-- single testimonial -->
            </div>
            <div class="col-lg-4">
              <div class="single-testimonial text-center">
                <div class="testimonial-image">
                  <img
                    src="assets/images/staff/Altayb Abbas.jpg"
                    alt="Author"
                  />
                  <div class="quote-icon">
                    <i class="lni lni-quotation"></i>
                  </div>
                </div>
                <div class="testimonial-content">
                  <p class="text">
                    Stop wasting time and money designing and managing a website
                    that doesn't get results. Happiness lorem guaranteed!
                  </p>
                  <h6 class="author-name">Fiona</h6>
                  <span class="sub-title">Lead Designer, UIdeck</span>
                </div>
              </div>
              <!-- single testimonial -->
            </div>
            <div class="col-lg-4">
              <div class="single-testimonial text-center">
                <div class="testimonial-image">
                  <img
                    src="assets/images/staff/Altayb Abbas.jpg"
                    alt="Author"
                  />
                  <div class="quote-icon">
                    <i class="lni lni-quotation"></i>
                  </div>
                </div>
                <div class="testimonial-content">
                  <p class="text">
                    Stop wasting time and money designing and managing a website
                    that doesn't get results. Happiness lorem guaranteed!
                  </p>
                  <h6 class="author-name">Elon Musk</h6>
                  <span class="sub-title">CEO, SpaceX</span>
                </div>
              </div>
              <!-- single testimonial -->
            </div>
          </div>
          <!-- row -->
        </div>
      </div>
    </div>
  </div>
  <!-- container -->
</section>

<!--====== TESTIMONIAL ONE PART ENDS ======-->

<!-- Start Latest News Area -->
<div id="blog" class="latest-news-area section">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>latest news</h6>
            <h2 class="fw-bold">Latest News & Blog</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</div>
<!--======  End Section Title Five ======-->
<section class="blog-area pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-blog blog-style-two">
          <div class="blog-image">
            <img src="assets/images/home/3.jpg" alt="Blog" />
          </div>
          <div class="blog-content">
            <h4 class="blog-title">
              <a href="javascript:void(0)">
                Best way to earn money online for free.
              </a>
            </h4>
            <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
            <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
            <p class="text">
              Create a workspace your team will love with these money-saving
              interior design tips & tricks for your...
            </p>
            <a
              class="btn primary-btn-outline rounded-full"
              href="javascript:void(0)"
              >Read More</a
            >
          </div>
        </div>
        <!-- single blog -->
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-blog blog-style-two">
          <div class="blog-image">
            <img src="assets/images/home/3.jpg" alt="Blog" />
          </div>
          <div class="blog-content">
            <h4 class="blog-title">
              <a href="javascript:void(0)">
                Best way to earn money online for free.
              </a>
            </h4>
            <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
            <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
            <p class="text">
              Create a workspace your team will love with these money-saving
              interior design tips & tricks for your...
            </p>
            <a
              class="btn primary-btn-outline rounded-full"
              href="javascript:void(0)"
              >Read More</a
            >
          </div>
        </div>
        <!-- single blog -->
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-blog blog-style-two">
          <div class="blog-image">
            <img src="assets/images/home/3.jpg" alt="Blog" />
          </div>
          <div class="blog-content">
            <h4 class="blog-title">
              <a href="javascript:void(0)">
                Best way to earn money online for free.
              </a>
            </h4>
            <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
            <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
            <p class="text">
              Create a workspace your team will love with these money-saving
              interior design tips & tricks for your...
            </p>
            <a
              class="btn primary-btn-outline rounded-full"
              href="javascript:void(0)"
              >Read More</a
            >
          </div>
        </div>
        <!-- single blog -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!-- Start Brand Area -->
<div id="clients" class="brand-area section">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>Meet our Clients</h6>
            <h2 class="fw-bold">Our Awesome Clients</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!--======  End Section Title Five ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="clients-logos">
          <div class="single-image">
            <img
              src="assets/images/logo/CCST PNG.png"
              alt="Brand Logo Images"
            />
          </div>

          <div class="single-image">
            <img
              src="assets/images/logo/Italian Embassy JPG.jpeg"
              alt="Brand Logo Images"
            />
          </div>
          <div class="single-image">
            <img
              src="assets/images/logo/leggibilita-marchio-2.jpg"
              alt="Brand Logo Images"
            />
          </div>
          <div class="single-image">
            <img
              src="assets/images/logo/Plida png.png"
              alt="Brand Logo Images"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Brand Area -->
</div>
