  <!--====== ACCORDION PART START ======-->

  <section class="accordion-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="single-accordion mt-5">
            <div class="accordion-title">
              <h4 class="title">Frequently Asked Questions</h4>
            </div>
            <div class="accordion-style-one">
              <div class="accordion" id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <a href="#collapseOne" data-bs-toggle="collapse" role="button" aria-expanded="true">FAQ title
                      here</a>
                  </div>

                  <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <a class="collapsed" href="#collapseTwo" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <a class="collapsed" href="#collapseThree" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingFour">
                    <a class="collapsed" href="#collapseFour" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingFive">
                    <a class="collapsed" href="#collapseFive" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->
              </div>
            </div>
            <!-- card -->
          </div>
          <!-- accordion style one -->
        </div>

        <div class="col-lg-6">
          <div class="single-accordion mt-5">
            <div class="accordion-title">
              <h4 class="title">Frequently Asked Questions</h4>
            </div>
            <div class="accordion-style-two">
              <div class="accordion" id="accordionTwo">
                <div class="card">
                  <div class="card-header" id="headingSix">
                    <a href="#collapseSix" data-bs-toggle="collapse" role="button" aria-expanded="true">FAQ title
                      here</a>
                  </div>

                  <div id="collapseSix" class="collapse show" data-bs-parent="#accordionTwo">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingseven">
                    <a class="collapsed" href="#collapseseven" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseseven" class="collapse" data-bs-parent="#accordionTwo">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingEight">
                    <a class="collapsed" href="#collapseEight" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseEight" class="collapse" data-bs-parent="#accordionTwo">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingNine">
                    <a class="collapsed" href="#collapseNine" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseNine" class="collapse" data-bs-parent="#accordionTwo">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingTen">
                    <a class="collapsed" href="#collapseTen" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseTen" class="collapse" data-bs-parent="#accordionTwo">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->
              </div>
            </div>
            <!-- card -->
          </div>
          <!-- accordion style one -->
        </div>

        <div class="col-lg-6">
          <div class="single-accordion mt-5">
            <div class="accordion-title">
              <h4 class="title">Frequently Asked Questions</h4>
            </div>
            <div class="accordion-style-three">
              <div class="accordion" id="accordionthree">
                <div class="card">
                  <div class="card-header" id="headingEleven">
                    <a href="#collapseEleven" data-bs-toggle="collapse" role="button" aria-expanded="true">FAQ
                      title here</a>
                  </div>

                  <div id="collapseEleven" class="collapse show" data-bs-parent="#accordionthree">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingTwelve">
                    <a class="collapsed" href="#collapseTwelve" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseTwelve" class="collapse" data-bs-parent="#accordionthree">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingThirteen">
                    <a class="collapsed" href="#collapseThirteen" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseThirteen" class="collapse" data-bs-parent="#accordionthree">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingFourteen">
                    <a class="collapsed" href="#collapseFourteen" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseFourteen" class="collapse" data-bs-parent="#accordionthree">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingFifteen">
                    <a class="collapsed" href="#collapseFifteen" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseFifteen" class="collapse" data-bs-parent="#accordionthree">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->
              </div>
            </div>
            <!-- card -->
          </div>
          <!-- accordion style three -->
        </div>

        <div class="col-lg-6">
          <div class="single-accordion mt-5">
            <div class="accordion-title">
              <h4 class="title">Frequently Asked Questions</h4>
            </div>
            <div class="accordion-style-four">
              <div class="accordion" id="accordionFour">
                <div class="card">
                  <div class="card-header" id="headingSixteen">
                    <a href="#collapseSixteen" data-bs-toggle="collapse" role="button" aria-expanded="true">FAQ
                      title here</a>
                  </div>

                  <div id="collapseSixteen" class="collapse show" data-bs-parent="#accordionFour">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingseventeen">
                    <a class="collapsed" href="#collapseseventeen" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseseventeen" class="collapse" data-bs-parent="#accordionFour">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingEightteen">
                    <a class="collapsed" href="#collapseEightteen" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseEightteen" class="collapse" data-bs-parent="#accordionFour">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingNineteen">
                    <a class="collapsed" href="#collapseNineteen" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseNineteen" class="collapse" data-bs-parent="#accordionFour">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->

                <div class="card">
                  <div class="card-header" id="headingTwenty">
                    <a class="collapsed" href="#collapseTwenty" data-bs-toggle="collapse" role="button"
                      aria-expanded="false">FAQ title here</a>
                  </div>
                  <div id="collapseTwenty" class="collapse" data-bs-parent="#accordionFour">
                    <div class="card-body">
                      <p class="text">
                        Raw denim you probably haven’t heard of them jean
                        shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. <br />
                        <br />
                        Cosby sweater eu banh mi, qui irure terry richardson
                        ex squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- card -->
              </div>
            </div>
            <!-- card -->
          </div>
          <!-- accordion style four -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>

  <!--====== ACCORDION PART ENDS ======-->